
body {
background-color: rgb(95, 239, 220);
font-family: Quicksand, Helvetica, sans-serif;
/* padding-top: 50px; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
font-family: "Raleway", sans-serif;
}

a,
p {
color: rgb(17, 17, 17);
}

/* .wrapper {
max-width: 550px;
min-width: 200px;
margin: auto;
background-color: rgb(255, 255, 255);
box-shadow: 0 3px 8px 2px rgba(0, 0, 0, 0.178);
} */

.header-bar {
display: flex;
position: relative;
justify-content: space-between;
flex-direction: column;
color: #fff;
padding: 10px;
border-radius: 5px 5px 0 0;
background: linear-gradient(
    120deg,
    rgb(31, 179, 190),
    rgb(40, 190, 201),
    rgb(9, 129, 103)
);
}

.header-bar a {
color: rgb(194, 194, 194);
text-decoration: none;
font-size: 0.7em;
display: block;
text-align: right;
float: none;
}

.post-wrapper {
display: flex;
justify-content: space-between;
background-color: #fff;
padding: 20px;
border-top: 1px solid rgba(128, 0, 128, 0.384);
}

.post-company_name {
display: flex;
}

.post-company_name a {
text-decoration: none;
color: rgb(80, 80, 80);
margin-left: 10px;
}

.delete-link {
text-decoration: none;
font-weight: 900;
color: rgb(179, 33, 33);
font-size: 22px;
line-height: 100%;
}

.search-add-wrapper {
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px;
position: relative;
}

.clear-search {
position: relative;
right: 20px;
opacity: 0;
pointer-events: none;
}

.clear-search a {
text-align: center;
color: rgb(202, 38, 38);
font-size: 22px;
border-radius: 50%;
text-decoration: none;
}

#add-link {
/* position: fixed; */
border-radius: 24px;
/* bottom: 0; */
/* width: 50px;
height: 50px; */
left: calc(50% - 25px);
text-align: center;
color: rgb(0, 124, 128);
text-decoration: none;
/* font-size: 42px; */
/* background-color: rgba(240, 240, 240, 0.842); */
box-shadow: 0px 3px 3px rgba(12, 143, 114, 0.39);
}

input[type="text"],
input[type="password"],
textarea {
border: 2px solid rgb(0, 45, 128);
border-radius: 5px;
padding: 0.5em;
width: 90%;
}

label {
padding-top: 10px !important;
display: block;
}

.button {
border: 2px solid rgb(10, 60, 168);
background-color: #ececec;
color: rgb(2, 107, 168);
padding: 0.5em;
font-size: 14px;
border-radius: 5px;
cursor: pointer;
text-decoration: none;
}

.card-body {
padding: 20px;
}