{% extends 'base/index.html' %}
{% block content %}
<div class="wrapper post-form">
    
    <div class="header-bar">
        <h3>Enter new Password</h3>
        <a href="{% url 'login' %}">&#8592; back</a>
    </div>
    <div class="card-body">
        <p>Please enter your new secure password twice</p>
        <form method="POST" action="">
            {% csrf_token %}
            {{form.as_p}}
            <input class="btn" type="submit" value="Submit">
        </form>
    </div>
</div>
    
{%endblock content%}