{% extends 'base/index.html' %}
{% block content %}
<div class="wrapper post-form">
    
    <div class="header-bar">
        <h3>Password Reset Sent</h3>
    </div>
    <div class="card-body">
        <p>We've emailed you instructions for setting resetting your password, if
            an account with the email you provided exists. You should receive the email shortly.</p>
        <p>If you don't receive the email make sure to check your spam folder or verify the email you provided.</p>
        
    </div>
</div>
    
{%endblock content%}