{% extends 'base/index.html' %}{% block content %}  
{%load static%}

<main>
  <div class="wrapper user-detail">
    <div class="header-bar">
      <a href="{% url 'users'%}">&#8592; back</a>
    </div>
    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img class="card-img-top" src= "{% static '/images/default.png' %}" alt="" />
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <h4 class="card-title">
              {{ profile.firstname}} {{ profile.lastname}}
              <small><i>{{profile.institution}}</i></small>

              {%if request.user == profile.user %}
              <span style="float: right">
                <a href="{%url 'user-profile-update' user.userprofile.id %}">
                  <i class="fas fa-edit"></i>
                </a>
              </span>
              {% endif %}
            </h4>
            <i><i class="fa fa-envelope" aria-hidden="true"></i> {{profile.email}}</i>
            <p class="card-text"><i class="fa fa-book" aria-hidden="true"></i> {{profile.major}}</p>
            {%if request.user == profile.user %}
            <p class="card-text">
              <small class="text-muted"><i class="fa fa-phone" aria-hidden="true"></i> Phone Number: {{profile.phone_number}}</small>
            </p>
            <a href="{%url 'bookmarks'%}">
              <h4 class="card-title">Bookmarked: {{posts.count}}</h4>
            </a>
            {%endif%}
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<!--Posts-->

<!-- Post -->

<!-- end post -->

{% endblock content %} -->
