{% extends 'base/index.html' %}{% block content %}

<main>
  <div class="wrapper post-form">
    <div class="header-bar">
      <a href="{% url 'users'%}">&#8592; back</a>
    </div>
    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img
            class="card-img-top"
            src="{{ profile.profile_pic.url }}"
            alt=""
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title">
              {{ profile.firstname}} {{ profile.lastname}} <small><i>{{profile.institution}}</i></small>
            </h4>
            <i>{{profile.email}}</i>
            <p class="card-text">
              {{profile.major}}
            </p>
            <p class="card-text">
              <small class="text-muted">{{profile.phone_number}}</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<!--Posts-->

<!-- Post -->

<!-- end post -->

{% endblock content %} -->
