{% extends 'base/index.html' %} {% block content %} {% load static %}
<main>
  <div class="wrapper post-form">
    <div class="header-bar">
      <div>
        <a href="{% url 'home'%}">&#8592; back</a>
      </div>
    </div>

    <div class="post-items-wrapper">
      {% for profile in users %}
      <div class="profile row p-4">
        <div class="col-sm-2">
          <img
            width="150px"
            aspect-ratio="1/1"
            src="{{ profile.profile_pic.url }}"
            alt=""
          />
        </div>
        <div class="col-sm-8">
          <div>
            <h4 class="card-title">
              <a href="{% url 'user-profile' profile.id %}">
                {{ profile.firstname}} {{profile.lastname}}</a
              >
              <small> <i> {{ profile.institution }}</i></small>
            </h4>
          </div>

          <i>{{profile.major}}</i>
          <p class="card-text">{{profile.email}}</p>
        </div>
        <!-- <div class="col-sm-2">3</div> -->
      </div>

      <hr />

      {% endfor %}
    </div>
  </div>
</main>

{% endblock content %}
